.App img{
    width: 85px;
}

.w-100 {
    width: 100%!important;
    height: 500px;
}

.carousel-inner{
    width: 100%!important;
}

.carousel{
    width: 90%!important;
    margin: 0 auto;
}

.item{
    display: flex;
    margin: 50px 100px;
}

.card{
    width: 100px!important;
}

.h5{
    font-size: 13px;
}

.card-img-top{
    width: 100%!important;
}